@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --brand: #0ea5a4;
}

html,body,#root{
  height:100%;
}

/* basic utility for the demo */
.container{max-width:1200px;margin:0 auto;padding:0 1rem}
